# Data Types and Structures Questions

---

1.  What are data structures, and why are they important3 ?
    - Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They are important because they enable efficient data management, retrieval, and manipulation, which is crucial for writing optimized and scalable programs.

2. Explain the difference between mutable and immutable data types with examples?

   - Mutable: Data types that can be changed after creation. Example: Lists, dictionaries, sets.

    Immutable: Data types that cannot be changed after creation. Example: Strings, tuples, integers.

3. What are the main differences between lists and tuples in Python?

   - Lists are mutable, while tuples are immutable.

     Lists use square brackets [ ], while tuples use parentheses ().

4. Describe how dictionaries store data?
   - Dictionaries store data as key-value pairs, where each key is unique and maps to a specific value.

5. Why might you use a set instead of a list in Python3?
   - Sets are used when you need to store unique elements and perform operations like union, intersection, or difference.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters and is immutable. A list is a sequence of elements of any type and is mutable.

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable, so their elements cannot be changed after creation, ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
   - Yes, lists can contain elements of different data types.

10. Explain why strings are immutable in Python?
   - Strings are immutable to ensure security, efficiency (e.g., for hashing), and thread safety.

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries allow for faster lookups (O(1) time complexity) using keys, whereas lists require O(n) time for searching.

12. Describe a scenario where using a tuple would be preferable over a list?
   - When storing data that should not be modified, such as coordinates (x, y) or days of the week.

13. How do sets handle duplicate values in Python?
   - Sets automatically remove duplicate values, storing only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?

  - For lists, in checks for the presence of a value (O(n) time).

   - For dictionaries, in checks for the presence of a key (O(1) time).

15. Can you modify the elements of a tuple? Explain why or why not?
   - No, tuples are immutable, so their elements cannot be modified after creation.

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary that contains other dictionaries. Example:

   

```
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
```

17. Describe the time complexity of accessing elements in a dictionary?
   - Accessing elements in a dictionary has an average time complexity of O(1).

18. In what situations are lists preferred over dictionaries?
   - Lists are preferred when the order of elements matters, or when you need to store a sequence of items that may contain duplicates.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries were unordered in Python versions before 3.7. In Python 3.7+, they preserve insertion order, but the primary focus is still on key-based access.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
   - Lists retrieve data by index (position), while dictionaries retrieve data by keys.

# Practical Questions

---

1. Write a code to create a string with your name and print itP?
   -

```
name = "Sashikanta Samal"
print(name)
```
Output:- Sashikanta Samal

2. Write a code to find the length of the string "Hello World"?
   -

```
print(len("Hello World"))
```
output:- 11

3. Write a code to slice the first 3 characters from the string "Python Programming"?
   -

```
s = "Python Programming"
print(s[:3])
```
Output:- Pyt

4. Write a code to convert the string "hello" to uppercase?
   -

```
print("hello".upper())
```
Output:- HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
   -

```
s = "I like apple"
print(s.replace("apple", "orange"))
```
oUTPUT:- I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?
   -

```
numbers = [1, 2, 3, 4, 5]
print(numbers)
```
Output:-  [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
   -

```
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)
```
Output:-[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
   -

```
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)
```
Output:- [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
   -

```
lst = ['a', 'b', 'c', 'd']
print(lst[1])
```
Output:- b

10. Write a code to reverse the list [10, 20, 30, 40, 50]?
   -

```
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)
```
Output:- [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?
   -

```
t = (100, 200, 300)
print(t)
```
Output:- (100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
   -

```
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])
```
Output:- blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
   -

```
t = (10, 20, 5, 15)
print(min(t))
```
Output:- 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
   -

```
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))
```
Output:- 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
   -

```
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)
```
Output:- False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?
   -

```
s = {'a', 'b', 'c'}
print(s)
```
Output:- {'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
   -

```
s = {1, 2, 3, 4, 5}
s.clear()
print(s)
```
Output:- set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?
   -

```
s = {1, 2, 3, 4}
s.remove(4)
print(s)
```
Output:- {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
   -

```
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))
```
Output:- {1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
   -

```
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))
```
Output:- {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?
   -

```
d = {"name": "Shouvick", "age": 35, "city": "New Delhi"}
print(d)
```
Output:- {'name': 'Shouvick', 'age': 35, 'city': 'New Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?
   -

```
d = {'name': 'John', 'age': '25'}
d["country"] = "USA"
print(d)
```
Output:- {'name': 'John', 'age': '25', 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
   -

```
d = {'name': 'Alice', 'age': '30'}
print(d["name"])
```
Output:- Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
   -

```
d = {'name': 'Bob', 'age': '22', 'city': 'New York'}
del d["age"]
print(d)
```
Output:- {'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
   -

```
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)
```
Output:- True

26. Write a code to create a list, a tuple, and a dictionary, and print them all ?
   -

```
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, t, d)
```
Output:- [1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced) ?
   -

```
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)
```
Output:- [1, 16, 33, 78, 91]

28. Write a code to create a list with strings and print the element at the third index?
   -

```
lst = ["apple", "banana", "cherry", "date"]
print(lst[2])  # Third index is 2 (0-based)
```
Output:- cherry

29. Write a code to combine two dictionaries into one and print the result?
   -

```
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)
```
Output:- {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set?
   -

```
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)
```
Output:- {'cherry', 'apple', 'banana'}